@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes chomp {
  0% {
    clip-path: circle(50% at 50% 50%);
  }

  50% {
    clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0);
  }

  100% {
    clip-path: circle(50% at 50% 50%);
  }
}

.animate-chomp {
  animation: chomp 0.3s linear infinite;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-track {
  background: #1a1a23;
}

::-webkit-scrollbar-thumb {
  background: #e9c7e9;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b79bcd;
}