@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes chomp {
  0% {
    clip-path: circle(50% at 50% 50%);
  }

  50% {
    clip-path: polygon(100% 0, 50% 50%, 100% 100%, 0 100%, 0 0);
  }

  100% {
    clip-path: circle(50% at 50% 50%);
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

.animate-chomp {
  animation: chomp 0.5s infinite;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: theme("colors.retro-black");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.retro-pink");
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.retro-blue");
}